.navbar-brand
	{
		font-family: 'arial';
		font-size:30px;
		font-weight:600;
        color: #242728!important;
		
	}

 .heading-title 
   {
     padding-bottom: 40px;
   } 

 .heading-title h2 
  {
     font-size: 14px;
     font-weight: 500;
     padding: 0;
     line-height: 1px;
     margin: 0 0 5px 0;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #aaaaaa;
     font-family: sans-serif;
  }

.heading-title h2::after 
  {
    content: "";
    width: 180px;
    height: 3px;  
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px; 
  }

.heading-title p 
  {
     margin: 0;
     font-size: 25px;
     font-weight: 700;
     text-transform: uppercase;
     font-family: Verdana;
     color: #242728;
   }
